#experiences {
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    overflow: hidden;
}

#experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.project {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: var(--color-neutral-0);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

.project-avatar {
    width: 230px;
    height: 230px;
    border-radius: 100%;
    padding: 20px;
    object-fit: cover;
}

.project-content p{
    display: flex;
    
}

.project-content ul{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    padding-top: 10px;
    gap: 10px;   
}

.project-content i{
    color: var(--color-primary-6);
}

@media screen and (max-width: 1170px) {
    #experiences {
        flex-direction: column;
    }

    #experiences_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    
    .project {
        flex-direction: column;
    }

    #experiences_content {
        width: 100%;
    }
}
