#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    overflow: hidden;
}

#cta {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title {
    font-size: 4rem;
    color: var(--color-neutral-1);
    font-weight: 500;
}

#cta .title span {
    color: var(--color-primary-6);
    font-weight: 700;
}

#cta .description {
    font-size: 1.2rem;
    font-weight: 200;
}

#introduction {
    display: flex;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    padding: 20px;
    object-fit: cover;
}

#banner {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 55%;
    z-index: 3;   
}

#banner img {
    height: 60%;
    width: fit-content;
}

.shape,
.shape2,
.shape3 {
    background-color: var(--color-primary-2);
    width: 45%;
    height: 80%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

.shape2 {
    background-color: var(--color-primary-3);
    width: 32%;
    height: 70%;
    z-index: 2;
}

.shape3 {
    background-color: var(--color-primary-5);
    width: 20%;
    height: 60%;
    z-index: 3;
}

.graduation {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #introduction {
    flex-direction: column;
    align-items: center;
    }

    #banner,
    #banner img,
    #home .shape,
    #home .shape2,
    #home .shape3 {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}
